<div class="container center">
  <mat-card class="col-6 margin-auto">
    <form [formGroup]="Login" class="example-form">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>User Name:</mat-label>
          <input  formControlName="email" matInput placeholder="User" value="">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width" >
          <mat-label>Password:</mat-label>
          <input  formControlName="pass" type="password" matInput placeholder="Password" value="" (ngModel)="pass" name='pass' >
        </mat-form-field>
      </div>
      <div class="row text-center">
        <div class="col-6">
          <button mat-raised-button color="primary" (click)="loggin()">Login</button>
        </div>
        <div class="col-6">
          <button mat-raised-button >Clear</button>
        </div>
      </div>

      <div style="text-align: center; margin-top: 20px;" class="alert alert-danger col-md-12" *ngIf="this.errorLogin">
        <div 
            *ngIf="this.errorLogin ;else msg">
          Error en la contraseña
        </div>

        <ng-template #msg style="text-align: center; margin-top: 20px;" class="alert alert-danger col-md-12">
          mensaje 2
        </ng-template>
    </div>
    </form>
  </mat-card>
</div>